# Masa Protocol scraping parameters
MASA_NODE_URL=/ip4/79.117.252.86/udp/8080/quic-v1/p2p/16Uiu2HAmNncgDXrdPSw1vHBViHR72NzNmMHU1uA1oJF9ccAQtRhD

# Agent parameters (required for agent functionality)
OPENAI_API_KEY=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
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true

# Optional parameters for agent functionality
TAVILY_API_KEY=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
PINECONE_API_KEY=

# Optional parameters for audio transcription
ASSEMBLYAI_API_KEY=
AUDIO_FILE_URL=
LOCAL_AUDIO_FILE=
AUDIO_URL=
RSS_FEED_URL=
YOUTUBE_VIDEO_URL=
TIKTOK_VIDEO_URL=