# Masa Protocol scraping parameters
MASA_NODE_URL=/ip4/79.117.252.86/udp/8080/quic-v1/p2p/16Uiu2HAmNncgDXrdPSw1vHBViHR72NzNmMHU1uA1oJF9ccAQtRhD

# Agent parameters (required for agent functionality)
OPENAI_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT="

# Optional parameters for agent functionality
TAVILY_API_KEY=
PINECONE_API_KEY=

# Optional parameters for audio transcription
ASSEMBLYAI_API_KEY=
AUDIO_FILE_URL=
LOCAL_AUDIO_FILE=
AUDIO_URL=
RSS_FEED_URL=
YOUTUBE_VIDEO_URL=
TIKTOK_VIDEO_URL=